.header {
    text-align: center;
    border: black 2px solid;
}

.body {
    text-align: center;
    border: black 2px solid;
}

.table {
    min-width: 70%;
    border: black 2px solid;
    border-radius: 10px;
    margin: 5%;
    padding: 1rem
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    justify-content: center;
    margin-right: 10%;
    margin-top: 5%
}